@font-face {font-family: "Papyrus";
  src: url("../fonts/a0e1b1883c0cf520e9c50d0cd91cd0d0.eot");
  src: url("../fonts/a0e1b1883c0cf520e9c50d0cd91cd0d0.eot?#iefix") format("embedded-opentype"),
  url("../fonts/a0e1b1883c0cf520e9c50d0cd91cd0d0.woff2") format("woff2"),
  url("../fonts/a0e1b1883c0cf520e9c50d0cd91cd0d0.woff") format("woff"),
  url("../fonts/a0e1b1883c0cf520e9c50d0cd91cd0d0.ttf") format("truetype"),
  url("../fonts/a0e1b1883c0cf520e9c50d0cd91cd0d0.svg#Papyrus W01") format("svg");
}

@font-face {font-family: "dearJoe4";
  src: url("../fonts/09f3116d4fd9c65bd6c61655f2b86cfe.eot");
  src: url("../fonts/09f3116d4fd9c65bd6c61655f2b86cfe.eot?#iefix") format("embedded-opentype"),
  url("../fonts/09f3116d4fd9c65bd6c61655f2b86cfe.woff2") format("woff2"),
  url("../fonts/09f3116d4fd9c65bd6c61655f2b86cfe.woff") format("woff"),
  url("../fonts/09f3116d4fd9c65bd6c61655f2b86cfe.ttf") format("truetype"),
  url("../fonts/09f3116d4fd9c65bd6c61655f2b86cfe.svg#dearJoe4") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  /* background: #eee url('../images/background.jpg') no-repeat center center;
  background-size: cover;
  background-position: center; */
}

a {
  color: #fff
}

li {
  list-style: none
}

.site-header {
  position:fixed;
  top:0;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  z-index:5;
  opacity:0;
  background: #000;
  color: #fff;
  padding: 10px;
}

.container {
  background: #eee url('../images/background2.jpeg') no-repeat center center;
  background-size: cover;
  background-position: center;
}

.container .background {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  font-family: 'arial', sans-serif;
  /* background-color: rgba(50, 50, 50, .5) */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: calc(100% - 100px);
  height: 200px;
  padding: 0 50px;
  overflow: hidden;
}

.content.home {
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  font-weight: normal;
  font-size: 56px;
  font-family: 'Papyrus', sans-serif;
  color: #fff;
}

.logo span {
  display: flex;
  font-size: 3em;
  margin-left: 10px;
}

.logo span em {
  overflow: hidden;
  width: 82px;
  display: inline-flex;
  margin-right: -20px;
}

.social a {
  position: relative;
  bottom: -5px;
  font-size: 25px;
  text-decoration: none;
}

.social a img {
  width: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #fff;
}

.instagram {
  display: flex;
  align-items: center;
  color: #fff;
}

@media (max-width: 600px) {
  .content {
    width: calc(100% - 30px);
    height: 150px;
    padding: 0 15px;
  }

  .social a {
    font-size: 15px;
  }

  .social a img {
    width: 20px;
    margin: 0 5px 0 0;
  }

  .logo {
    font-size: 45px;
  }

  .logo p {
    display: none;
  }

  .logo span em {
    width: 70px;
  }
}

.main {
  display: flex;
  justify-content: center;
  padding: 80px 50px;
  font-family: 'Papyrus', sans-serif;
  /* color: #fff; */
}

.about {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 1200px;
  /* min-height: calc(100vh - 160px); */
  font-size: 30px;
  text-align: justify;
  line-height: 50px;
}

.about img {
  margin-right: 50px;
  height: 700px;
}

@media (max-width: 600px) {
  .about {
    width: auto;
    font-size: 20px;
    line-height: 36px;
  }

  .about img {
    display: none;
  }
}
